body {
    min-height: 100vh;
}

.light-gray {
    background-color: #e5e5e5;
}

.black-blue{
    background-color:  #23374d;
}

.signHomepage{

    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    min-height: 688px;
    height: calc(100% - 42px);

    box-sizing: border-box;
}

.content {
    height: 100%;
    margin-top: 1em;
}

.node-id-container {
    float: right;
}

.node-id-container a {
    color: inherit;
}

.node-id-container a:hover {
    filter: brightness(1.2);
}

.nodeId, .parentNodeId {
    display: inline-flex;
    max-width: 5em;
    overflow: hidden;
    text-overflow: clip;
    transition: max-width;
}

.nodeId:hover, .parentNodeId:hover {
    max-width: none;
}

.index.nodeId, .index.parentNodeId {
    max-width: none !important;
}

.replyform {
    margin-top: 2em;
    margin-bottom: 2em;
}

.post-thumbup-container {
    cursor: pointer;
}

.post-thumbup-container * {
    user-select: none;
}

.post-thumbup-container>div {
    display: inline-block;
}

.post-thumbup-container>div>div {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.post-thumbup-container>div:hover {
    filter: brightness(1.2);
}

.thumb-up-icon {
    margin-right: 0.2rem;
}

.thumbed-up {
    color: #ffab40 !important;
}

.log-box-max-width{
    max-width: 500px;
}
