<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: nav"></nav>

<div id="errorInfo">
    <h1 class="center-align">This is an error page</h1>
    <h3 th:if="${errorType!=null}">重复注册</h3>
</div>


<footer th:replace="fragments :: footer"></footer>

<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="/static/js/jwt-decode.js"></script>
<script src="/static/js/error.js"></script>
</body>

</html>
