<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments :: head"> </head>

<body>
  <nav class="light-blue lighten-1" role="navigation" th:replace="fragments :: nav"></nav>

  <!-- Search function -->
  <!-- TODO： change the input properties -->
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        查找:
        <i class="material-icons">search</i>
        <div class="input-field inline">
          <input id="email_inline" type="email" class="validate" />
          <label for="email_inline">keywords</label>
        </div>
      </div>
    </div>
  </div>

  <div id="content">
    <div th:each="node : ${nodes}" class="container z-depth-3">
      <div class="col s12 m7">
        <div class="card horizontal light-gray">
          <div class="card-panel grey lighten-3 z-depth-1-half">
            <!--<h5 th:text="${node.PublisherHash}">Username</h5>-->
            <p th:text="${node.PublishTime}"></p>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p th:text="${node.NodeContent}"></p>
            </div>
            <div class="card-action">
              <a th:href="@{/p/node(id=${node.NodeId})}">More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="fragments :: footer"></footer>
</body>

</html>
