<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">
</head>

<body>
    <nav th:replace="fragments :: nav"></nav>
    <div class="content container col s12 m7">
        <!--
        <div class="postContent card">
            <span>Welcome to node</span><span th:text="${node.NodeId}"> NodeId: th:NodeId</span>
            <h1 th:text="${node.NodeContent}">nodeContent</h1>
            <span th:text="${node.NodeContent}">nodeContent</span>
            <span th:text="${node.PublisherHash}">nodePublisher</span>
            <span th:text="${node.PublishTime}">date</span>
        </div>
    -->
        <div class="commentsContainer">
            <div th:each="node : ${comments}" class="comment card">
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="node-id-container grey-text">
                            <a th:if="${node.parentNodeId}" th:href="'#' + ${node.parentNodeId}"><i
                                    th:text="${node.parentNodeId}" class="parentNodeId"></i></a>
                            <span th:if="${node.parentNodeId}" th:text="'<'" class="reply-mark"></span>
                            <a th:id="${node.NodeId}" th:href="@{/p/node(id=${node.NodeId})}"><i
                                    th:text="${node.NodeId}" class="nodeId"></i></a>
                        </span>
                        <span th:text="${node.NodeTitle}" class="card-title nodeTitle"></span>
                        <p th:text="${node.NodeContent}"></p>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/p/node/reply(id=${node.NodeId})}">Reply</a>
                        <a class="post-date" th:text="${node.PublishTime}"></a>
                        <span th:class="'post-thumbup-container badge ' + ${node.hasThumbedUp ? 'thumbed-up' : ''}"
                            th:data-nodeId="${node.nodeId}" onclick="thumbup(this)">
                            <div>
                                <div>
                                    <i class="material-icons prefix thumb-up-icon">thumb_up</i>
                                    <a class="post-thumbup" th:text="${node.ThumbUpNumber}"></a>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="replyform">
            <form th:action="@{/p/node/reply(id=${node.nodeId})}" method="post">
                <div class="modal-content">
                    <div class="input-field">
                        <input type="text" id="nodeTitle" name="nodeTitle" autocomplete="off" placeholder="未命题" />
                        <label for="nodeTitle">标题</label>
                    </div>
                    <div class="input-field">
                        <textarea placeholder="说点什么吧" id="nodeContent" name="nodeContent" class="materialize-textarea"
                            autocomplete="off"></textarea>
                    </div>
                </div>
                <div>
                    <input type="submit" class="btn" value="发表">
                </div>
            </form>
        </div>
    </div>
    <footer th:replace="fragments :: footer"></footer>
</body>

</html>
