<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>register page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/layout.css">
</head>
<body>

<div class="head">
    <div class="content-bar">
        <ul class="bar-menu">
            <li class="bar-menu"><a href="/"> 主页面 </a></li>
            <li class="bar-menu"><a href="/user"> 个人中心 </a></li>
        </ul>
    </div>
</div>

<div class="log">
    <form th:action="@{/user/register}" method="post">
                <div class="inputDiv">
            <label> 邮箱地址 <br/> <input type="text" name="EmailAddress"/> </label>
        </div>

        <div class="inputDiv">
            <label> 密码 <br/> <input type="password" name="Password"/></label>
        </div>

        <div class="inputDiv">
            <input type="submit" value="register"/></div>
    </form>
</div>

<!--<p th:if="${isUserExist != null && isUserExist}" class="returnInfo">-->
<!--    the email has been register once. please change!-->
<!--</p>-->

</body>
</html>