<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>

<form th:action="@{/user(status='register')}" method="post">
    <div><label> User Name: <input type="text" name="UserName"></label></div>
    <div><label> User Email Address : <input type="text" name="EmailAddress"/> </label></div>
    <div><label> Password: <input type="password" name="Password"/> </label></div>
    <div><input type="submit" value="register"/></div>
</form>

<p th:if="${isUserExist != null && isUserExist}">
    the email has been register once. please change!
</p>

</body>
</html>